@font-face {
    font-family: "Courier New";
    src: url(../../../public/fonts/cour.ttf);

    font-family: "Gotham Pro";
    src: url(../../../public/fonts/GothamPro.ttf);

    font-family: "Gotham Pro bold";
    src: url(../../../public/fonts/GothamPro_bold.ttf);
}

.header{
    text-align: center;
    font-family: "Courier New";
    background: #2f4c58;
    color: #e4dbd9;
}

.timetable{
    font-size: 30px;
    padding-top: 10px;
}

.time{
    font-size: 16px;
    padding-bottom: 15px;
}

.hr{
    width: 32%;
}

.container, footer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
}

.director, .attention{
    padding: 10px;
    margin: 10px;
    background: #baa7a4;
}

.director{
    width: 40%;
    text-align: center;
    margin-left: 15px;
}

.attention{
    margin-right: 0px;
    padding: 10px;
}
.mainDir{
    font-family: "Courier New";
    font-size: 26px;
}

.mainAtt{
    font-family: "Courier New";
    font-size: 26px;
    color: #ed4c4c;
}

.txt{
    font-family: "Gotham Pro";
    font-size: 16px;
}
.logo{
    padding-top: 5px;
    margin-top: 5px;
    width: 100px;
}
.phone{
    width: 15px;
}

table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.className, .lessonTime, .courseTime{
    padding: 2px;
    background-color: #6795a3;
    border-color: white;
    font-family: "Gotham Pro bold";
    font-size: 12px;
}

.courseTime, .specCourses{
    background-color: #9cb6bc;
    text-align: center;
}
.specCourses{
    padding: 2px 0 0 10px;
    row-span: 5;
    font-family: "Courier New";
    text-align: left;
}
#courses{
    margin-top: 20px;
    width: 45%;
}
th{
    border: 1px solid white;
}
td {
    border: 1px solid grey;
    font-family: "Gotham Pro";
    font-size: 9px;
}
.change{
    background-color: #88e2ac;
}

.casino, .qr, .gif1, .gif2{
    align-self: center;
    padding-left: 50px;
    padding-top: 10px;
    width: 100px;
}

.qr{
    align-items: flex-end;
    width: 60px;
    padding-left: 60px;
}
