.header {
    text-align: center;
    font-family: "Courier New";
    background: #3A72AB;/*1111*/
    color: white;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timetable {
    font-size: 30px;
    padding-top: 10px;
}

.time {
    font-size: 16px;
    padding-bottom: 15px;
}

.hr {
    width: 32%;
    background-color: white;
    border-radius: 100%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 35px;
    margin-bottom: 35px;
}

.attention {
    padding: 10px;
    margin-left: 5%;
    background: #FFFFFF;/*1111*/
    width: 90%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.attention div {

}
.editDate{
    color: white;
}
.infBlock {
    margin-left: 25px;
    margin-top: 10px;
}
.infBlock > div:not(.schoolName){
    font-size: 15px;

}
.schoolName{
    font-size: 30px;
}
.logo {
    padding-left: 10px;
    background: #FFFFFF;/*1111*/
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.director {
    padding-left: 10px;
    background: #FFFFFF;/*1111*/
    border-radius: 5px;
    font-family: "Courier New", serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.director h3 {
    margin-top: 10px;
    font-size: 40px;
}
.director h4 {
    margin-top: 5px;
    font-size: 30px;
}


.mainDir {
    font-family: "Courier New", serif;
    font-size: 26px;
}

.mainAtt {
    font-family: "Courier New Bold", serif;
    font-size: 30px;
    margin-top: -10px;
    color: #E69B1E;
}

.txt {
    font-family: "Gotham Pro Light", serif;
    font-size: 16px;

}

.logo img {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

.logo h4 {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    text-align: center;
}

.phone {
    background-image: url("../../public/img/phone.svg");
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
}
.email {
    background-image: url("../../public/img/email.svg");
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
}



.hide {
    opacity: 0.0;
    width: 100%;
    color: #E8E8E8;
    z-index: -1;
}


.firstTable, .secondTable {
    height: 20%;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    z-index: 3;
}



.secondTable{
    margin-top: 15px;
}

.timeBlock {
    margin-top: 23.99px;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 15px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
    background: rgba(232, 232, 232, 1.0);
    border-radius: 5px;
}
.classBlock {
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 15px 15px 15px rgba(0, 0, 0, 0.19);
    background: rgba(232, 232, 232, 1.0);
    border-radius: 5px;
}



.classBlock .className {
  border-radius: 5px 5px 0 0;
}

.classBlock tr td {
    font-size: 15px;
    text-align: center;
}
.classBlock {
    margin-left: 4px;
}
.subject {
    font-family: "Gotham Pro", serif;
    height: 23px;
    background-color: rgb(245, 245, 245);
}

.courseTime {
    text-align: center;
}

.className, .lessonTime, .courseTime {
    /*background-color: #7AA5C7; !*1111*!*/
    background-color: #4182C3; /*1111*/
    color: white;
    font-family: "Gotham Pro bold", serif;
    font-size: 15px;
    text-align: center;
    border: black;
    height: 23px;
}

.lessonTime {
    border-bottom: 1px solid #E8E8E8;
    height: 24px;
}
.firstLessonTime{
    border-radius: 5px 5px 0 0;
}
.lastLessonTime{
    height: 24px;
    border: none;
    border-radius: 0 0 5px 5px;
}


.courseTime, .specCourses {
    background-color: #D3E0E9; /*1111*/
}


.specCourses {
    padding: 2px 0 0 10px;
    font-family: "Courier New", serif;
    border: 1px solid black;
}

.courses {
    margin-top: 50px;
    box-shadow: 20px 15px 20px rgba(0, 0, 0, 0.16), 15px 15px 15px rgba(0, 0, 0, 0.08);
    background: rgba(232, 232, 232, 1.0);
}

.hideTh {
    border-top: 1px solid #E8E8E8;
    border-left: 1px solid #E8E8E8;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.courses tr td, .courses tr {
    border: 1px solid black;
}

.courses tr td {
    width: 100px;
}

.courseName {
    text-align: center;
    font-size: 15px;
}

td {
    font-family: "Gotham Pro", serif;
    padding: 2px 0 0 10px;
}

.change {
    background-color: #ffc072;/*1111*/
}

.qr{
    background-image: url("../../public/img/qrCode.svg");
    width: 150px;
    height: 150px;
    margin-top: 10px;
    margin-left: 34%;
    z-index: 1;
}

.ad img {
    margin-left: 25%;
    margin-top: 20px;
    height: 100px;
    width: 200px;
    z-index: 1;
}

.subjectOffice {
    background-color: #D3E0E9;/*1111*/
    text-align: center;
    font-family: "Gotham Pro", serif;
    height: 23px;
}

.foot {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr
}

.subjectBlock {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    border-top: 1px solid black;
    height: 24px;
}
.lastSubjectBlock > .subject{
    border-radius: 0 0 0 5px;
}

.lastSubjectBlock > .subjectOffice{
    border-radius: 0 0 5px 0;
}