@font-face {
    font-family: "Courier New";
    src: url(../../public/fonts/cour.ttf);

    font-family: "Gotham Pro";
    src: url(../../public/fonts/GothamPro.ttf);

    font-family: "Gotham Pro bold";
    src: url(../../public/fonts/GothamPro_bold.ttf);
}

.header {
    text-align: center;
    font-family: "Courier New";
    background: #2f4c58;
    color: #e4dbd9;
}

.timetable {
    font-size: 30px;
    padding-top: 10px;
}

.time {
    font-size: 16px;
    padding-bottom: 15px;
}

.hr {
    width: 32%;
}

.container, footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 5px;
}

.director, .attention, .logo {
    padding: 10px;
    margin: 10px;
    background: #baa7a4;
}

.director {
    width: 40%;
    text-align: center;
    margin-left: 44px;
}

.attention {
    margin-right: 0px;
    padding: 10px;
}

.mainDir {
    font-family: "Courier New";
    font-size: 26px;
}

.mainAtt {
    font-family: "Courier New";
    font-size: 26px;
    color: #ed4c4c;
}

.txt {
    font-family: "Gotham Pro";
    font-size: 16px;
}

.logo {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.logo img {
    padding-top: 5px;
    margin-top: 5px;
    width: 100px;
    height: 100px;
}

.logo div {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    text-align: center;
}

.phone {
    background-image: url("../../public/img/phone.svg");
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
}

table {
    width: 100%;
    height: min-content;
}

.hide {
    background-color: white;
    color: white;
}


.firstTable, .secondTable {
    height: 20%;
    width: 100%;
    text-align: center;
    border: black;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}


.secondTable {

}

.timeBlock {
    margin-top: 4px;
}


.classBlock .className {
    border: 1px solid black;
    margin-left: 2px;
    margin-top: 2px;
}

.classBlock tr td {
    font-size: 15px;
    text-align: center;
}

.subject {
    vertical-align: top;
    border: 1px solid black;
}

.courseTime {
}

.className, .lessonTime, .courseTime {
    background-color: #6795a3;
    font-family: "Gotham Pro bold";
    font-size: 15px;
    text-align: center;
    border: black;
}

.lessonTime {
    border: 1px solid black;
    margin-top: 2px;
}

.courseTime, .specCourses {
    background-color: #9cb6bc;
    text-align: center;
}

.specCourses {
    padding: 2px 0 0 10px;
    font-family: "Courier New";
    text-align: center;
    border: 1px solid black;
}

.courses {
    margin-top: 20px;
    /*width: 40%;*/
    text-align: center;
}

.hideTh {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.courses tr td, .courses tr {
    border: 1px solid black;
}

.courses tr td {
    width: 100px;
}

.courseName {
    text-align: center;
    font-size: 15px;
}

td {
    font-family: "Gotham Pro";
    height: min-content;
}

.change {
    background-color: #88e2ac;
}



.qr {
    align-items: flex-end;
    align-self: center;
    margin-left: -10%;
}

.ad img {
    margin-left: 10%;
    margin-top: 20px;
}

.subjectOffice {
    background-color: #e4dad8;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    text-align: center;

}

.foot {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr
}

.subjectBlock {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    margin-left: 2px;
    margin-top: 2px;
    font-family: "Gotham Pro";
}