.header {
    text-align: center;
    font-family: "Courier New";
    background: #6A0115;/*1111*/
    color: #e4dbd9;
}

.timetable {
    font-size: 30px;
    padding-top: 10px;
}

.time {
    font-size: 16px;
    padding-bottom: 15px;
}

.hr {
    width: 32%;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: 35px;
    margin-bottom: 35px;
}

.attention {
    padding: 10px;
    margin-left: 5%;
    background-color: white; /*1111*/
    border: 4px solid #D36789; /*1111*/
    width: 90%;
}
.attention div {

}

.logo {
    padding-left: 10px;
    background-color: white; /*1111*/
    border: 4px solid #D36789; /*1111*/
}

.director {
    padding-left: 10px;
    background-color: white; /*1111*/
    border: 4px solid #D36789; /*1111*/
    font-family: "Courier New", serif;
}
.director h3 {
    margin-top: 10px;
    font-size: 40px;
}
.director h4 {
    margin-top: 5px;
    font-size: 30px;
}


.mainDir {
    font-family: "Courier New", serif;
    font-size: 26px;
}

.mainAtt {
    font-family: "Courier New Bold", serif;
    font-size: 30px;
    text-align: center;
    margin-top: -10px;
}

.txt {
    font-family: "Gotham Pro Light", serif;
    font-size: 16px;

}

.logo {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.logo img {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    width: 160px;
    height: 130px;
}

.logo h4 {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 10px;
    text-align: center;
}

.phone {
    background-image: url("../../public/img/phone.svg");
    width: 20px;
    height: 20px;
    margin-top: 4px;
    margin-right: 10px;
}



.hide {
    background-color: white;
    color: white;
}


.firstTable, .secondTable {
    height: 20%;
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}


.secondTable .timeBlock{

}

.timeBlock {
    margin-right: -6px;
}


.classBlock .className {
    border-bottom: 1px solid black;
}

.classBlock tr td {
    font-size: 15px;
    text-align: center;
}
.classBlock {
    margin-left: 4px;
}
.subject {
    border-right: 1px solid black;
    font-family: "Gotham Pro Light", serif;
}

.courseTime {
    text-align: center;
}

.className, .lessonTime, .courseTime {
    background-color: #A0A0A0; /*1111*/
    font-family: "Gotham Pro bold", serif;
    font-size: 15px;
    text-align: center;
    border: black;
}

.lessonTime {
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
}

.courseTime, .specCourses {
    background-color: #B7B2B3; /*1111*/
}


.specCourses {
    padding: 2px 0 0 10px;
    font-family: "Courier New", serif;
    border: 1px solid black;
}

.courses {
    margin-top: 50px;
}

.hideTh {
    border-top: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}

.courses tr td, .courses tr {
    border: 1px solid black;
}

.courses tr td {
    width: 100px;
}

.courseName {
    text-align: center;
    font-size: 15px;
}

td {
    font-family: "Gotham Pro", serif;
    padding: 2px 0 0 10px;
}

.change {
    background-color: #E70024;/*1111*/
}


.qr img{
    width: 150px;
    height: 150px;
    margin-left: 34%;
}

.ad img {
    margin-left: 25%;
    margin-top: 20px;
    height: 100px;
    width: 200px;
}

.subjectOffice {
    background-color: #D0D0D2;/*1111*/
    border-right: 1px solid black;
    text-align: center;
    font-family: "Gotham Pro Light", serif;
}

.foot {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr
}

.subjectBlock {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}